In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('train.csv',header='infer')
print(df.head(7))

  Embarked  Count of PassengerId
0        C                   168
1        Q                    77
2        S                   644
3  (blank)                     2

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Embarked              4 non-null      object
 1   Count of PassengerId  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes
None

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
df.shape

(891, 12)

In [9]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
#First method
#To drop those rows with na from df1
df1=df1.dropna(axis=0)

print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB
None

In [15]:
#second method 
#manually typing
#This can be done by manually altering the data

In [19]:
#Third method 
#To replace all the na cells with some global constant
#Filling the missing values of the age.
df3.loc[df3["Age"].isna(),"Age"]=21
#Filling the missing values of Embark
df3.loc[df3["Embarked"].isna(),"Embarked"]='S'
#Filling the missing values of Cabin
df3.loc[df3["Cabin"].isna(),"Cabin"]='C85'
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [31]:
#Fourth method
#To replace all the na cells with either mean (in case of age like numbers) or mode(in case of strings)
#First replacing the values of age
num=np.mean(df4.loc[:,"Age"])
df4.loc[df4["Age"].isna(),"Age"]=num
#Then replacing the embarked values
for_embark=df4.loc[(~df4["Embarked"].isna()),"Embarked"].mode()
print(for_embark[0])
#for_embark would give a pandas series from which the first element has to be taken.
print(type(for_embark[0]))
df4.loc[df4["Embarked"].isna(),"Embarked"]=for_embark[0]
#For Cabin
for_cabin=df4["Cabin"].mode()
df4.loc[df4["Cabin"].isna(),"Cabin"]=for_cabin[0]
print(df4.info())

S
<class 'str'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None